*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#nav{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}
#nav>article{
    height: 80px;
    width: 70%;
    display: flex;
    
}
#nav>article>.logo{
    height: 80px;
    width:  50%;
    display: flex;
    align-items: center;
}
#nav>article>.logo>svg{
    width: 25%;
    fill: white;
}
#nav>article>.menu{
    height: 80px;
    width: 50%;
   
}
#nav>article>.menu>ol{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav>article>.menu>ol>li{
    list-style-type: none;
}
#nav>article>.menu>ol>li>a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
    
}
#nav>article>.menu>ol>li>a:hover{
    color: green;
}
#nav>article>.menu>ol>.a>a{
    color: #D9DADC;
}
#home{
    height: 76.5vh;
    width: 100%;
    /* background : url(./assets/bubbles-dktp.svg), linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));*/
    background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    display: flex;
    justify-content:center;
    align-items: end;
}
#home>article{
    height: 85.5%;
    width: 70%;
    /* background-color: aqua; */
    display: flex ;

}
#home>article>.mobile{
    height: 100%;
    width: 26.5%;
    background-color: white;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;

}
#home>article>.content{
    height: 100%;
    width: 75%;
    /* background-color: rgb(2, 13, 40); */
}
#home>article>.content>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 57px;
    font-weight: bolder;
    color: white;
    margin-top: 95px;
    margin-left: 80px;
}
#home>article>.content>button{
    height: 50px;
    width: 185px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 80px;
    margin-top: 36px;
    border-radius: 40px;
    color: black;
    
}
#home>article>.content>button:hover{
    transform: scale(1.05);
    cursor: pointer;
}
#home>article>.mobile>span{
    height: 100%;
    width: 18px;
}
#home>article>.mobile>span>img{
    height: 90%;
    width: 94.5%;
    margin-left: 8px;
    margin-left: 8px;
    margin-top: 17px;
}
#home>article>.mobile>span>button{
    height: 7px;
    width: 46px;
    background-color: black;
    border-radius: 20px;
    margin-left: 123px;
    margin-top: 24px;
}
#below{
    height: 68vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#below>article{
    height: 80%;
    width: 80%;
   
}
#below>article>.a{
    
    display: flex;
    justify-content: center;
    margin-left: 100px;
}
#below>article>.a>h1{
    height: 100%;
    width: 260px;
    margin-top: 5px;
    font-size: 37px;
    font-family: Arial, Helvetica, sans-serif;
}
#below>article>.b{
    height: 100%;
    width: 100%;
    display: flex;
}
#below>article>.b>#first{
     height: 100%;
     width: 25%;
     display: flex;
     flex-direction: column;
    margin-left: 80px;
    margin-top: 60px;
    
}
#below>article>.b>#first>.icon1>img{
    height: 83%;
    width: 63%;
    margin-top: 20px;
    margin-left: 30px;
    background-size: 100px;
    
}
#below>article>.b>#first>.text1{
    margin-top: 30px;
    height: 40%;
    width: 230px;
  
    font-family: Arial, Helvetica, sans-serif;
}
#below>article>.b>#first>.text1>h1{
    font-size: 19px;
    font-weight: bolder;
    text-align:center;
}
#below>article>.b>#first>.text1>p{
    font-size: 14px;
    text-align:center;
    letter-spacing: 0.5px;
}
#below>article>.b>#second{
    height: 100%;
    width: 25%;
    display: flex;
     flex-direction: column;
   margin-left: 80px;
   margin-top: 60px;
}
#below>article>.b>#second>.icon2>img{
    height: 83%;
    width: 63%;
    margin-top: 20px;
    margin-left: 30px;
    background-size: 100px;

    
}
#below>article>.b>#second>.text2{
    margin-top: 30px;
    height: 40%;
    width: 230px;
  
    font-family: Arial, Helvetica, sans-serif;
}
#below>article>.b>#second>.text2>h1{
    font-size: 19px;
    font-weight: bolder;
    text-align:center;
}
#below>article>.b>#second>.text2>p{
    font-size: 14px;
    text-align:center;
    letter-spacing: 0.5px;
}
#below>article>.b>#third{
    height: 100%;
    width: 25%;
    display: flex;
     flex-direction: column;
   margin-left: 80px;
   margin-top: 60px;
}
#below>article>.b>#third>.icon3>img{
    height: 83%;
    width: 63%;
    margin-top: 20px;
    margin-left: 30px;
    background-size: 100px;

    
}

#below>article>.b>#third>.text3{
    margin-top: 30px;
    height: 40%;
    width: 230px;
  
    font-family: Arial, Helvetica, sans-serif;
}
#below>article>.b>#third>.text3>h1{
    font-size: 19px;
    font-weight: bolder;
    text-align:center;
}
#below>article>.b>#third>.text3>p{
    font-size: 14px;
    text-align:center;
    letter-spacing: 0.5px;
}
#below>article>.b>#fourth{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
   margin-left: 80px;
   margin-top: 60px;
}
#below>article>.b>#fourth>.icon4>img{
    height: 83%;
    width: 63%;
    margin-top: 20px;
    margin-left: 30px;
    background-size: 100px;

    
}
#below>article>.b>#fourth>.text4{
    margin-top: 30px;
    height: 40%;
    width: 230px;
  
    font-family: Arial, Helvetica, sans-serif;
}
#below>article>.b>#fourth>.text4>h1{
    font-size: 19px;
    font-weight: bolder;
    text-align:center;
}
#below>article>.b>#fourth>.text4>p{
    font-size: 14px;
    text-align:center;
    letter-spacing: 0.5px;
    
}
.free{
    height: 62vh;
    width: 100%;
    background: linear-gradient(rgb(176,35,194), rgb(102,13,229));
    display: flex;
    justify-content: center;
    align-items: center;
}
.free>div>p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(255,255,255);
    font-size: 46px;
    text-align: center;
}
.ques{
    height: 73vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ques>article{
    height: 80%;
    width: 80%;
    
}
.ques>article>span#a{
    display: flex;
    justify-content: center;
    height: 20%;
    width: 100%;
}
.ques>article>span#a>h1{
    font-size: 36.5px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.ques>article>span#b{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
}

.ques>article>span#b>div>p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:800;
    font-size: 16px;
    margin-top: 60px;

    
}
.ques>article>span#b>div>p:hover{
    cursor: pointer;
    
}
.ready{
    height: 58vh;
    width: 100%;
    background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    display: flex;
    justify-content: center;
    align-items: center;
}

.ready>article{
    height: 60%;
    width: 60%;

}
.ready>article>div>h1{
    font-size: 65px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    margin-top: 40px;
}
.ready>article>button{
    height: 50px;
    width: 185px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 350px;
    margin-top: 50px;
    border-radius: 40px;
    color: black;
    font-weight: 500;
    
    
}
.ready>article>button:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.last{
    height: 71vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last>article{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;   
}
.last>article>#a{
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    
    
    
}
.last>article>#a>.header1{
    height: 80%;
    width: 15%;
    
}
.last>article>#a>.header2{
    height: 80%;
    width: 80%;
    display: flex;
    
    
}
.last>article>#a>.header2>nav{
    height: 100%;
    width: 100%;
    
}
.last>article>#a>.header2>.nav>ol>li{
    list-style-type: none;
}

.last>article>#b{
    height: 90%;
    width: 40%;
    margin-left: 180px;
    /* background-color: blue; */
    
    
}

.last>article>#a>.header2>.nav{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    line-height: 50px;
    font-size: 13px;
    margin-top: 10px;

}
.last>article>#a>.header2>.nav>.first{
    color: #222326;

}
.last>article>#b>.a>nav>ol>li{
    height: 20px;
    width: 50px;
    /* background-color: #222326;
    border-radius: 50px; */
}
.last>article>#b>.a{
    display: flex;
    justify-content: center;
}
.last>article>#a>.header2>nav>ol>li{
  text-decoration: none;
}
.last>article>#b>.a>nav>a>i{
   
    color: white;
    font-size: 30px;
    margin-top: 45px;
    margin-left: 30px;
    
    
   
}
.last>article>#b.nav{
    display: flex;
    align-items: center;
}
.last>article>#a>.header3{
    display: flex;
    flex-direction: column;

}

.last>article>#a>.header1>.nav1{
    height: 250x;
    width: 150px;
    fill: white;
    
}